.grid-container {
  display: grid;
  width: 70vw;
  height: 70vh;
  background-color: rgb(163, 227, 230);
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */

  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1rem;
  justify-content: center;
}

.grid-item {
  background-color: chocolate;
}
